body {
  background: #5a5c59 url(/images/page_bg.png); }

h1 {
  color: #2f2f2f;
  font-weight: bold;
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 32px; }

.button {
  background: #dfd9c9;
  border: #b9b4a8;
  padding: 0.5em 1em;
  line-height: 2em;
  text-decoration: none;
  color: #000;
  font-weight: bold; }
  .button:hover {
    background-color: #b9b4a8; }

#logout {
  position: absolute;
  right: 15px;
  top: 5px; }
  #logout a {
    color: #2f2f2f;
    padding: 0.2em;
    line-heigh: 1.4em;
    font-size: 14px; }

#sidebar {
  width: 240px;
  bottom: 15px;
  top: 62px;
  left: 15px;
  position: absolute;
  background: #373737;
  text-align: center; }
  #sidebar h2 {
    font-family: Antiqua;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background: #50825d;
    color: #fff;
    padding-left: 0.5em; }
  #sidebar ul {
    background-color: #5a5c59;
    color: #fff;
    margin: 1em;
    text-align: left;
    font-size: 110%; }
    #sidebar ul li {
      list-style: none;
      margin: 0.5em;
      font-weight: bold;
      font-size: 105%; }
      #sidebar ul li .balance {
        display: block;
        text-align: right; }
      #sidebar ul li a {
        color: #e0e0e0;
        text-decoration: none;
        font-size: 105%; }
        #sidebar ul li a:hover {
          color: #fff; }
      #sidebar ul li ul {
        margin: 0; }
        #sidebar ul li ul li {
          margin: 0;
          font-weight: normal;
          border-top: 1px solid #505050;
          font-size: 90%; }
          #sidebar ul li ul li a {
            font-size: 100%; }

#container {
  position: absolute;
  right: 15px;
  left: 270px;
  bottom: 11px;
  top: 62px;
  text-align: left; }

#content-wrapper {
  background: #fffef9;
  width: 100%;
  height: 96%; }

#content {
  padding: 1em 1em 0 1em;
  margin-bottom: 1em; }
  #content h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    color: #2f2f2f; }

#sections {
  padding: 3px 0;
  margin-left: 0;
  border-bottom: 1px solid #fffef9;
  font: bold 16px Verdana, sans-serif; }
  #sections ul {
    margin: 0; }
    #sections ul li {
      list-style: none;
      margin: 0;
      display: inline; }
      #sections ul li a {
        padding: 3px 0.5em;
        margin-left: 3px;
        border: 1px solid #b9b4a8;
        border-bottom: none;
        background: #dfd9cb;
        text-decoration: none;
        color: #2f2f2f; }
  #sections ul.register li.register a,
  #sections ul.accounts li.accounts a,
  #sections ul.contacts li.contacts a,
  #sections li a:hover {
    background: #fffef9;
    border-bottom: 1px solid #fffef9; }

#dlg_new_account {
  display: none; }
  #dlg_new_account p {
    margin: 0.5em 0; }
  #dlg_new_account label {
    width: 100px;
    float: left; }
  #dlg_new_account select, #dlg_new_account input {
    margin: 0;
    padding: 0; }

#dlg_new_session {
  display: none;
  width: 480px; }
  #dlg_new_session p {
    font-size: 120%; }

#register-wrapper {
  overflow: hidden; }

#new-transaction {
  padding: 3px 0;
  margin-left: 0;
  margin-top: 10px;
  border-bottom: 1px solid #fffef9; }
  #new-transaction ul {
    margin: 0; }
    #new-transaction ul li {
      list-style: none;
      margin: 0;
      display: inline;
      font: normal 12px Verdana, sans-serif; }
      #new-transaction ul li a {
        padding: 3px 0.5em;
        margin-left: 3px;
        border: 1px solid #b9b4a8;
        background: #dfd9cb;
        text-decoration: none;
        color: #2f2f2f;
        line-height: 22px; }
        #new-transaction ul li a:focus {
          outline: none; }
  #new-transaction form {
    margin: 10px; }
    #new-transaction form label {
      font-weight: normal;
      font-size: 14px; }
    #new-transaction form .left {
      width: 68%;
      float: left; }
      #new-transaction form .left .fields {
        float: left; }
      #new-transaction form .left .labels {
        width: auto !important; }
    #new-transaction form .right {
      width: 30%;
      float: right; }
    #new-transaction form .labels {
      float: left;
      text-align: left;
      width: 25%; }
      #new-transaction form .labels label {
        display: block;
        padding: 2px 0;
        margin-top: 3px; }
    #new-transaction form .fields {
      margin-left: 5px;
      float: right; }
      #new-transaction form .fields input {
        display: block;
        margin-top: 3px;
        height: 17px; }
    #new-transaction form .buttons {
      clear: both; }

.ui-tabs-hide {
  display: none; }

.ui-tabs-nav {
  height: 21px; }

.ui-tabs-selected a {
  font-weight: bold;
  border-bottom: 1px solid #dfd9cb !important; }

.ui-tabs-panel {
  margin-top: 1px;
  background: #dfd9cb;
  border: 1px solid #b9b4a8;
  height: 128px; }
