body {
  background: #5a5c59 url(/images/page_bg.png); }

h1 {
  color: #2f2f2f;
  font-weight: bold;
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 32px; }

.button {
  background: #dfd9c9;
  border: #b9b4a8;
  padding: 0.5em 1em;
  line-height: 2em;
  text-decoration: none;
  color: #000;
  font-weight: bold; }
  .button:hover {
    background-color: #b9b4a8; }

#sidebar {
  width: 240px;
  bottom: 15px;
  top: 62px;
  left: 15px;
  position: absolute;
  background: #373737;
  text-align: center; }
  #sidebar h2 {
    font-family: Antiqua;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background: #50825d;
    color: #fff;
    padding-left: 0.5em; }

#container {
  position: absolute;
  right: 15px;
  left: 270px;
  bottom: 11px;
  top: 62px;
  text-align: left; }

#content {
  background: #fffef9;
  width: 100%;
  height: 96%; }

#sections {
  padding: 3px 0;
  margin-left: 0;
  border-bottom: 1px solid #fffef9;
  font: bold 16px Verdana, sans-serif; }
  #sections ul {
    margin: 0; }
    #sections ul li {
      list-style: none;
      margin: 0;
      display: inline; }
      #sections ul li a {
        padding: 3px 0.5em;
        margin-left: 3px;
        border: 1px solid #b9b4a8;
        border-bottom: none;
        background: #dfd9cb;
        text-decoration: none;
        color: #000; }
  #sections ul.register li.register a,
  #sections ul.accounts li.accounts a,
  #sections ul.contacts li.contacts a,
  #sections li a:hover {
    background: #fffef9;
    border-bottom: 1px solid #fffef9; }

#dlg_new_account {
  display: none;
  /* :background-color green */
  /* :color white */
  /* :font-size 30px */
  /* :padding 15px */ }
