<h2>Your contacts</h2>

<p>You create a contact on the fly by entering a name in a transaction's payee field.</p>

<table style="width:50%">
  <tr>
    <th>Name</th>
  </tr>

<% for contact in @contacts %>
  <tr>
    <td><%= link_to image_tag('delete.png', :title => 'Delete this contact'), contact, :confirm => "I'll ask just in case, are you sure?", :method => :delete %>&nbsp;&nbsp;<%= link_to(contact.name, edit_contact_path(contact)) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New contact', new_contact_path %>
